::-webkit-scrollbar{
  width: 10px;
  height: 0.5px;
}
::-webkit-scrollbar-thumb{
  background: #00ffde;;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(255, 0, 98);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  letter-spacing: 0 !important;
  cursor: url("../img_estilos/cursor.png"), auto;
  color: white;
}
#Contenedor {
  background: rgba(0, 0, 0, 0.897);
  padding: 20px 10px;
  height: 100vh;
  
  /* Establece la altura máxima en 100vh. */
  overflow: hidden;
  /* Evita el desbordamiento y elimina la barra de desplazamiento. */
}

.sub-contenedor {
  display: flex;
  width: 100%;
  height: 85%;
}
/*Cuerpo*/
.links{
  color: #00ffde;;
}
.contenedor {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-image: url(../img_estilos/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.isquierda {
  padding: 1% 0% 0% 1%;
  width: 30%;
  height: 100%;

}
.derecha {
  overflow: auto;
  width: 70%;
  height: 100%;
}
.bajo {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*SVG*/
.play1{
  display: flex;
  gap: 5%;
}
.play1 .links{
  color: #00ffde;
}
/*Primer cuerpo*/
.a {
  height: 10%;
  width: 100%;
  font-size: 20px;
}
/*Segundo cuerpo*/
.b {
  height: 20%;
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}
/*tercer cuerpo cuerpo*/
.c{
  height: 70%;
  width: 100%;
}

/*dERECHJA*/
.imagenD {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.p{
  height: auto;
}
.text1{
  width: 100%;
  height: auto;
  padding: 10px 40px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
  display: flex;
  gap: 10px;
  padding: 15px 0;
}
.btn1 {
  width: 100px;
  font-size: 17px;
  text-align: center;
  height: 30px;
  border-radius: 20px;
  background: #00ffde;
}
.btn2 {
  width: 150px;
  font-size: 17px;
  text-align: center;
  height: 30px;
  border-radius: 20px;
  color: #00ffde;
  background: transparent;
  border: 2px solid #00ffde;
}
.text2 {
  width: 100%;
  padding: 0px 40px;
  position: relative;
}
.text_sup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
}
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel-container2 {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel-wrapper {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}
.carousel-wrapper2 {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  width: 150px;
  height: auto;
  overflow: hidden;
}
.carousel-item img {
width: 175px;
height: 175px;
object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el cuadro */
}

.carousel-control {
cursor: pointer;
padding: 10px;
background-color: #333;
color: #fff;
border: none;
}
.carousel-control2 {
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  }
  .carousel-item2 {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.carousel-item2 img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.text3 {
  width: 100%;
  padding: 0px 40px;
  position: relative;
}
.sup {
  padding: 10px 40px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mid {
  display: flex;
  align-items: center;
  background: #ffffff14;
  border-radius: 20px;
  width: 400px;
  padding: 0 5px;
}

svg {
  margin-right: 8px;
}
#back-button:hover,#play-button:hover, #next-button:hover, #play-button-tabla:hover {
  fill: #00ffde; /* Reemplaza "yourHoverColor" con el color que deseas al pasar el mouse */
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
}

/* Puedes agregar más estilos según tus preferencias */

.arr{
    display: flex;
    gap: 20px;
    font-family:  'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 900;
  
}

.arr a {
  text-decoration: none;
  position: relative;
}

.arr a:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px; /* Altura de la línea de subrayado */
  background-color: #00ffde; /* Color de la línea de subrayado */
  bottom: -2px; /* Espacio entre el texto y la línea de subrayado */
}

.fin{
  display: flex;
}
.fin img{
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/*Footer*/
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  background: #00ffde;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}

#musica{
  text-align: center;
}
.musica{
  overflow: auto;
  height: 100%;
}
.playlist-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 300px;
  overflow-y: auto;
}
.playlist-table th, .playlist-table td {
  padding: 8px 12px;
  text-align: left;
}
.play-button{
  cursor: pointer;
}
.controls {
  display: flex;
  height: 100%;
  width: 100%;
}
#music-progress {
  width: 100%;
  height: 10px;
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.circle {
    width: 100%;
    height: 70%;
    border-radius: 100%;
    transition: transform 10s linear;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.efecto {
  height: 100%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
}
.album-art {
  height: 100%;
  width: 150px;
}
.nombre {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: auto;
}
.tiempo {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}
.sonido {
  padding: 20px;
  display: flex;
  align-items: center;
  width: auto;
}
/**/
/**/
/*table*/
/**/
/**/
.playlist-table {
  width: 100%;
  border-collapse: collapse;
}

.playlist-table td {
  text-align: left;
  padding: 8px;
  max-height: 50px; /* Ajusta según sea necesario */
  overflow: hidden;
}
.playlist-table img {
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
}
.svg-tabla {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.svg-tabla:hover {
  fill: #00ffde;
}
.numeroCeroRellenado{
  color: #616161;
}